<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
<connectionStrings>
		<clear />
		<add name="Internal"
		 providerName="System.Data.ProviderName"
		 connectionString=" data source=DESKTOP-BD8G1UL\SQLEXPRESS;initial catalog=Internal;trusted_connection=true" />
	</connectionStrings>
</configuration>